@model EjemploMVC.Models.Calculo

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(Model => Model.numero1, new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.numero1, new { @class = "form-control", type = "number" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.numero2, new { @class = "control-label" })
        @Html.TextBoxFor(Model => Model.numero2, new { @class = "form-control", type = "number" })
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
}
<br />
@if (ViewBag.resultado != null)
{
    <p>Resultado Suma:&nbsp;@ViewBag.resultado</p>
}

@if (ViewBag.resultadoR != null)
{
    <p>Resultado Resta:&nbsp;@ViewBag.resultadoR</p>
}
@if (ViewBag.resultadoM != null)
{
    <p>Resultado Multiplicacion:&nbsp;@ViewBag.resultadoM</p>
}
@if (ViewBag.resultadoD != null)
{
    <p>Resultado Divicion:&nbsp;@ViewBag.resultadoD</p>
}
<a href="Conversiones.cshtml">Conversiones</a>

